<template>
<div class="container">
  <div class="home">
    <h1 class="mb-4">Twitch Live Notifications</h1>
    <span @click="goTo('https://vk.com/twitchnotify')" @click.middle="goTo('https://vk.com/twitchnotify')" class="icon-link" target="_blank" role="button"><i class="fab fa-vk fa-2x"></i></span>
    <span @click="goTo('https://t.me/TwiNotifyBot')" @click.middle="goTo('https://t.me/TwiNotifyBot')" class="icon-link" target="_blank" role="button"><i class="fab fa-telegram-plane fa-2x"></i></span>
  </div>
  <div class="justify-content-center stats">
    <div class="d-inline" v-if="users !== null">
      <i class="fas fa-users"></i> {{ users }} Users
    </div>
    <div class="d-inline" v-if="users !== null">
      <i class="fas fa-video"></i> {{ streamers }} Streamers
    </div>
  </div>
</div>
</template>


<script>
import axios from 'axios';

export default {
  data: () => ({
    users: null,
    streamers: null,
  }),
  methods: {
    goTo: (link) => {
      window.open(link, '_blank');
    }
  },
  mounted: async function () {
    const request = await axios.get('https://api.livenotifier.tk/counts')
    this.users = request.data.users
    this.streamers = request.data.streamers
  }
}
</script>

<style>
.home {
  margin-top: 20%;
  text-align: center;
}
.icon-link {
  padding-right: 10px;
  cursor: pointer;
}
.stats {
  margin-top: 10%;
  text-align: center;
}
.d-inline {
  margin: 20px;
}
</style>
