<template>
<div class="container">
  <div class="row justify-content-md-center">
      <h1>Top 10 channels users are watching</h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm d-flex flex-wrap justify-content-center">
      <div v-for="item in top" v-bind:key="item.channel_id" class="media text-center viewers-block">
          <img :src="item.imageUrl" style="width:50px;" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0">{{ item.username }}</h5>
              Watchers: {{ item.followers_count }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    top: []
  }),
  mounted: async function () {
    const request = await axios.get('https://api.livenotifier.tk/top10')
    this.top = request.data
  }
};
</script>


<style>
.block {
  position: absolute;
  top: 30%;
  text-align: center;
}
.viewers-block {
    padding: 10px;
    margin: 5px;
    width: 15em;
    height: 5em;
    background-color: #343a40!important;
    border-radius: .25rem!important;
    color: #fff;
}
</style>