<template>
  <div>
    <navbar v-bind:title="title"></navbar>
      <router-view></router-view>
  </div>
</template>

<script>
import navbar from './components/navbar.vue';
const title = 'Twitch Notifier'

export default {
  components: { 
    navbar
  },
  data: () => ({
    title: title
  })
};
</script>

<style>
body {
  background-color: #0e1011 !important;
  color: #fff !important; 
}
</style>
